@charset "UTF-8";
@import url(./css/all.min.css);
@font-face {
   font-family: calibri;
   src: url(./calibri.ttf);
}
@font-face {
   font-family: bnazanin;
   src: url(./bnazanin.ttf);
}
@font-face {
   font-family: iransans;
   src: url(./iransans.ttf);
}
*{
   font-family: iransans;
}
/* Small devices (landscape phones, 0 to 768px -downward) */
@media (max-width: 768px) {
   .rfs {font-size: 1.6rem !important;}
}
/* Medium devices 768px to upward */
@media (min-width: 768px) {
   .rfs {font-size:1.3rem !important;}
}/*1rem = 16px*/
body {
   background-color: #ececec;
}
.required::after {
   content:"*";
   color:red;
}
.requiredcolor {
   color:palevioletred;
}
